@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Vollkorn", serif;
  scroll-behavior: smooth;
}
section{
    background-color: #061222;
}
.navbar-blur{
    background-color:#447794;
    backdrop-filter: blur(8px); 
    height: 50px;
}
.navbar-wrapper{
    height: 50px;
}
.navbar-logo{
    height: 50px;
    width: 50px;
}
.nav-link{
    position: relative;
    font-weight: 600;
    padding-bottom: 3px;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}
.nav-link:hover::after {
    width: 100%;
}
.attraction, .food, .event, .government, .developers, .contact{
        padding-top: 30px;
}
.booking-form, .input-form{
    background-color: rgba(255, 255, 255, 0.582);
}
.siaton-image{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('images/municipality.jpg');
    background-size: cover; background-position: center;
    height: 730px;
}
.siaton-text-holder{
    width: 800px;
}
.siaton-text{
    font-size: 200px;
}
.hero-section{
    height: 730px;
}
.about-first-img{
    width: 75%;
    height: 400px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border: 1px solid white;
}
.about-second-img{
    top: 27%; 
    left: 33%; 
    width: 65%;
    height: 380px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border: 1px solid white;
}
.attractions-card:hover .card-title,
.attractions-card:hover .card-text{
    opacity: 0;
    transition: 0.3s;
}
.attractions-card .card-img, .home-btn{
    transition: transform 0.5s ease;
}
.attractions-card:hover .card-img, .home-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    background-color: #123249;
}
.accommodation-offers{
    font-size: 10px;
}
.accommodation-img, .government-officials-img, .foods-img{
    height: 230px;
}
.developers-img{
    height: 150px;
    border-radius: 50%;
    background-color: #123249;
}
.gallery-big-img{
    height: 500px;
}
.gallery-small-img{
    height: 246px;
}
.btn-accommodation{
    background-color: #061222;
}
@media (max-width: 992px){
    .hero-section{
        padding-top: 50px;
        padding-bottom: 850px;
    }
    .attraction, .food, .event, .government, .developers, .contact{
        padding-top: 30px;
    }
    .about-first-img{
        width: 65%;
        height: 340px;
        border-top-right-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .about-second-img{
        top: 27%; 
        left: 33%; 
        width: 60%;
        height: 340px;
        border-top-right-radius: 90px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .accommodation-offers{
    font-size: 12px;
    }
    .booking-form{
        margin-right: 10px;
        margin-left: 10px;
    }
    .event-wrapper p{
        font-size: 15px;
    }
    .event-img{
        height: 200px;
    }
    .gallery-big-img{
        height: 300px;
    }
    .gallery-small-img{
        height: 146px;
    }
}
@media (max-width: 768px){  
    .siaton-text{
        font-size: 150px;
    }
    .siaton-text-holder{
        width: 600px;
    }
    .booking-form{
        margin: 20px;
        font-size: 15px;
    }
    .hero-section{
        padding-bottom: 840px;
    }
    .attraction, .food, .event, .government, .developers, .contact{
        padding-top: 30px;
    }
    .about-first-img{
        width: 60%;
        height: 280px;
        border-top-right-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .about-second-img{
        top: 27%; 
        left: 33%; 
        width: 55%;
        height: 280px;
        border-top-right-radius: 90px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .accommodation-offers{
    font-size: 15px;
    }
    .event-wrapper p{
        font-size: 13px;
    }
    .event-img{
        height: 200px;
    }
    .gallery-big-img{
        height: 250px;
    }
    .gallery-small-img{
        height: 120px;
    }
    #developers h1{
        font-size: 26px;
    }
    .developers-img{
        height: 100px;
        border-radius: 50%;
        background-color: #123249;
    }
}
@media (max-width: 576px){
    #about, #attractions, #food-and-accomodations, #events, #government-officials, #contact, footer{
        padding-right: 10px;
        padding-left: 10px;
    }
    .hero-section{
        padding-bottom: 900px;
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .attraction, .food, .event, .government, .developers, .contact{
        padding-top: 30px;
    }
    .siaton-image{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url('images/municipality.jpg');
        background-size: cover; background-position: center;
        height: 1000px;
    }
    .siaton-text{
        font-size: 100px;
    }
    .siaton-text-holder{
        width: 400px;
    }
    .about-first-img{
        width: 60%;
        height: 250px;
        border-top-right-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .about-second-img{
        top: 27%; 
        left: 33%; 
        width: 55%;
        height: 250px;
        border-top-right-radius: 90px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        border: 1px solid white;
    }
    .booking-form{
        font-size: 10px;
        flex-direction: column;
        align-items: start;
    }
    .accommodation-offers{
        font-size: 15px;
    }
    .gallery-big-img{
        height: 200px;
    }
    .gallery-small-img{
        height: 96px;
    }
    .event-wrapper p{
        font-size: 12px;
    }
    .event-img{
        height: 250px;
    }
    .developers-img{
        height: 100px;
        border-radius: 50%;
        background-color: #123249;
    }
}