.card{
    border:1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 7px 0 0;
    
}

.box.hover{
    box-shadow: 7px 7px 0 0 lightpink;
    background: rgb(240, 80, 6);
    background: #ac43f1;
    background: linear-gradient(90deg, rgb(165, 33, 33) 0%, rgb(253, 29, 134) 50%, rgb(252, 96, 69) 100%);
}

.card:hover{
    background: radial-gradient(circle,rgb(245, 84, 197) 0%, rgb(230, 101, 69) 100%);
    cursor: pointer;
    box-shadow: 0px -1px 14px #000000;

}

h2,p{
    margin:0;
}

.card-header{
    display:flex;
}

.card-body{
    border-top:1px solid black;
    margin-top:10px;
    padding-top:10px;

}

.Main-Box{
    display:flex;
    gap: 20px;
}

.p{
    margin-bottom: 10px;
}

.btn{
    border:none;
    background: linear-gradient(90deg,hwb(243 44% 9%) 0%, rgb(224, 48, 201) 35%, rgb(224, 87, 32) 100%);
    color:#ffffff;
    padding: 10px 20px;
    border-radius: 100px;
}

.btn:hover{
    background: linear-gradient(90deg,rgb(163, 57, 250) 0%, rgb(42, 161, 152) 35%, rgb(221, 38, 99) 100%);
    cursor: pointer;

}